* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#numberCart{
  position: relative;
  bottom: 20px;
  color: white;
  font-size: 15px; 
}

/* Product page starts here*/
#product {
  background-image: url("../Resources/Images/products/music.jpg"); 
   max-width: 100%;
  height: 200px;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color:grey;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 40px;
}
/* h1 for product section*/
#product h1 {
  color: whitesmoke;
  font-size: 65px;
  text-align: center;
}
#product1 {
  text-align: center;
  background-color: #f6f6f6;
}
/* h2 for product1 section*/
#product1 h2 {
   font-size:46px;
   display:flex;
   line-height: 40px;
    justify-content: center; 
    color: #5d9943;
 padding-top: 40px;
 padding-bottom: 30px;

}
/* defult for product1 section*/
#product1 .defult {
  justify-content: right;
  display: flex;
  margin-left: 20px;
}

.defult {
  margin-right: 20px;
}

.select {
  border: 1px solid black;
  padding: 1px;
  float: right;
}
/* pro-container for product1 section*/
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#product1 .pro {
  width: 30%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid wheat;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

.pro {
  color: white;
  background-color: white; 
}

/*buy now button for the products */
#product1 .pro button {
  transition-duration: 0.4s;
  background-color: #5d9943;
  margin-left: 70px;
  padding: 4px 8px;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}
/* hover for buy now button*/
#product1 .pro button:hover {
background-color: black;
padding: 4px 8px;
box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.24),
  0 15px 40px 0 rgba(0, 0, 0, 0.19);
color: white;
font-size: 15px;
border-radius: 4px;
}
/* product images*/
#product1 .pro img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  color: white;
}
/* description for the products*/
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #5d9943;
  font-size: 12px;
}
/*h5 for product1 pro class */
#product1 .pro .des h5 {
  padding-top: 7px;
  color: black;
  font-size: 14px;
}
/* h4 for product1 pro des class*/
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #00674b;
}
/* for cart */
#product .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: white;
  font-weight: 500;
  color: #5d9943;
}

.priceCounter {
  display: flex;
  justify-content: space-around;
}

.price {
  display: flex;
  gap: 5px;
}

.price h4 {
  color: rgb(241, 77, 77);
}

.price b {
  color: black;
}

a,
u {
  text-decoration: none !important;
}

.price s {
  font-size: 15px;
  color: grey;
}
.priceCounter img {
  margin-right: auto;
}

.grid-view {
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 1;
  flex-wrap: wrap;
  gap:40px;
  justify-content: center;

}
